<div class="container">
 
<h1>welcome to Bookers !!</h1>
<p>In Bookers,<br>
you can share and exchange your opinions, inpressions, and emotions about various books!</p>
 
 <%= link_to "Log in", new_user_session_path %><br>
 <%= link_to "Sign up", new_user_registration_path %>
 
</div>