@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



li.nav-item{
  display:flex;
  justify-content:flex-end;
  list-style:none;
  padding: 0 10px;
  margin-top:30px;
}

footer{
  text-align:center;
}

.container{
  margin: 40px;   /* 外側の余白を40pxにする */
   padding: 0;      /* 内側の余白を消す(念のため) */
}

